.main-border{
    border-bottom: solid 12px #2b2b2b;
    border-left: solid 12px #555555;
    border-right: solid 12px #555555;
    border-top: solid 12px #2b2b2b;
}
.div-sizes{
    width: 83px !important;
    height: 83px !important;
    text-align: center;
    float: left;
}
.white-image{
    background-image: url("../images/marble-piece-white.png");
    width: 80px;
    height: 80px;
}
.black-image{
    background-image: url("../images/marble-piece-black.png");
    width: 60px;
    height: 90px;
}
.draggable{
    z-index: 1;
    background-size: contain;
    box-sizing: inherit;
    align-self: auto;
}
.chesspiece{
    left: 0;
    top: 0;
    width: 80px;
    height: 80px;
    top: 0;
    text-align: center;
}
.color-selected-div{
    box-shadow: inset 0px 0px 5px 2px #000000;
}
.path{
    box-shadow: inset 0px 0px 10px 5px #009c95;
}
.cross{
    box-shadow: inset 0px 0px 10px 2px #cc0000;
}
.inner{
    left: 0px;
    width: 100px;
    height: 100px;
}
div > div > div > div > div >div {
    left: 0px;
    position: absolute;
    height: 100px;
    width: 100px;
}
#board{
    -moz-transition: all 1s ease;-webkit-transition: all 1s ease; -o-transition: all 0.5s ease;transition: all 0.5s ease;
    top:25px;
    position: absolute;
}
.team-name{
    text-align: center;
    font-size: 30px;
    padding-top: 200px;
    color: #c7ddef;
}